In [12]:
import pandas as pd

In [13]:
weather_path = "WebVisualizations/Data/weather_data.csv"

In [16]:
cities_path = "WebVisualizations/Data/worldcities.csv"

In [17]:
weather_data = pd.read_csv(weather_path)

In [18]:
cities_data = pd.read_csv(cities_path)

In [19]:
weather_data.head()

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,Mataura,99,NZ,1575499031,74,-46.19,168.86,57.0,10.00
1,1,Bredasdorp,4,ZA,1575499032,55,-34.53,20.04,64.4,17.22
2,2,College,90,US,1575498867,76,64.86,-147.80,-4.0,1.92
3,3,Punta Arenas,40,CL,1575499034,50,-53.16,-70.91,53.6,34.45
4,4,Rio Cuarto,0,AR,1575499036,33,-33.13,-64.35,71.6,9.17

In [20]:
cities_data.head()

  Country              City   Latitude  Longitude
0      ad  andorra la vella  42.500000   1.516667
1      ad           canillo  42.566667   1.600000
2      ad            encamp  42.533333   1.583333
3      ad        la massana  42.550000   1.516667
4      ad      les escaldes  42.500000   1.533333

In [30]:
weather_df = pd.DataFrame(weather_data)

In [31]:
cities_df = pd.DataFrame(cities_data)

In [36]:
weather_df.to_html('weather_html.html')

FileNotFoundError: [Errno 2] No such file or directory: '/Data/weather_html.html'

In [35]:
cities_df.to_html('/WebVisualizations/Data/cities_html.html')

FileNotFoundError: [Errno 2] No such file or directory: '/WebVisualizations/Data/cities_html.html'